<!--<p>this is using vanilla js</p>
<p id="my-hidden-text" class="hidden">
  This is hidden text.
</p>

<p>toggleTextVisibility() will be called when we click the button</p>
<button onclick="toggleTextVisibility()">Toggle Visibility</button>

<script>
  function toggleTextVisibility() {
    // referencing the <p> id 
    const text = document.getElementById('my-hidden-text');
    text.classList.toggle('hidden')
  };
</script>-->

<p>using asset pipeline and importmap</p>
<p id="my-hidden-text" class="hidden">
  This is hidden text.
</p>

<button onclick="toggleTextVisibility()">Toggle Visibility</button>
