<!--<p>this is using vanilla js</p>
<p id="my-hidden-text" class="hidden">
  This is hidden text.
</p>

<p>toggleTextVisibility() will be called when we click the button</p>
<button onclick="toggleTextVisibility()">Toggle Visibility</button>

<script>
  function toggleTextVisibility() {
    // referencing the <p> id 
    const text = document.getElementById('my-hidden-text');
    text.classList.toggle('hidden')
  };
</script>-->

<!--<p>using asset pipeline and importmap</p>
<p id="my-hidden-text" class="hidden">
  This is hidden text.
</p>

<button onclick="toggleTextVisibility()">Toggle Visibility</button>-->

<p>using stimulus</p>
<!-- connects this div (and its contents) to the app/javascript/controllers/toggle_hidden_controller.js Stimulus controller. -->
<div data-controller="toggle-hidden">

  <!-- connects this p to the 'text' target defined in the JavaScript controller -->
  <p data-toggle-hidden-target="text" class="hidden">
    This is hidden text.
  </p>

  <!-- clicking this button will execute the toggle method in the toggle_hidden.js controller -->
  <button data-action="click->toggle-hidden#toggle">Toggle Visibility</button>
</div>
